.footer
  .footer__navi
    %ul.footer__navi__list
      %li
        %i.fas.fa-home
      %li
        %a{href:""}
          Portfolio
      %li
        %a{href:""}
          MyPage
      %li
        %a{href:""}
          Blog
      %li
        %a{href:""}
          Contact

  .footer__rights
    (C) 2019 Keishi Masui     All Rights Reserved
