.footer
  .footer__navi
    %ul.footer__navi__list
      %li
        %a{href:""}
          HOME
          %i.fas.fa-home
      %li
        %a{href:""}
          Portfolio
          %i.fas.fa-folder-open
      %li
        %a{href:""}
          MyPage
          %i.fas.fa-user
      %li
        %a{href:""}
          Blog
          %i.fas.fa-blog
      %li
        %a{href:""}
          Contact
          %i.fas.fa-phone

  .footer__rights
    (C) 2019 Keishi Masui     All Rights Reserved
