.header
  .header__contents
    .header__contents__left
      .title
        ポトフ
    .header__contents__right
      migi

.navi
  .navi__contents
    %ul.navi__contents__list
      %li
        %a.navi{href:""}
          HOME
          %i.fas.fa-home

      %li
        %a.navi{href:""}
          ポートフォリオ
      %li
        %a.navi{href:""}
          マイページ
      %li
        %a.navi{href:""}
          Blog
