
.portfolio-title {
  padding: 20px;
  box-sizing: border-box;
}

.product {
  width: 350px;
  height: 400px;
  float: left;
  margin: 20px auto 20px;
  .product-image{
    width: 300px;
    height: 250px;
    margin-left: 20px;
  }
  .product-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .product-language {
    text-align: center;
  }
  .product-comment {
    box-sizing: border-box;
    padding: 5px;
    word-wrap: break-word;
  }
}
