.container
  = render "share/header"
  .main
    .contents
      .about
        %h2
          About
        .about__data
          %dl.clearfix
            %dt
              NAME:
            %dd
              増井 啓之（ますい けいし）
            %dt
              SERVICE:
            %dd
              WEBエンジニアリング、教育

            %dt
              SKILL:
            %dd
              Ruby, Ruby on Rails, HTML, CSS, Javascript, jQuery, Github, AWS
        .skill__icon

      .news
        %h2.news__title
          News
        %p
          ーnewsを随時更新していく所存です



    .clearfix

  = render "share/footer"
