.footer {
  width: 100%;
  height: 140px;
  background-color: #ccffff;
  &__navi {
    width: 980px;
    height: 45px;
    margin: 0 auto;
    ul {
      li {
        float: left;
        width: 150px;
        height: 30px;
        line-height: 30px;
        border-right: 1px solid #ccf;
        text-align: center;
        a {
        }
      }
    }
  }

  &__rights {
    width: 980px;
    margin: 0 auto;
    text-align: center;
  }
}

